* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 22px;
}
/* reset button styles */
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
}

.App {
    height: 100vh;
    text-align: center;
    overflow: hidden;
    color: white;
    font-family: "Tilt Neon";
}

.dashboard-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-panel {
    max-width: 1000px;
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-auto-flow: column;
    background-color: transparent;
}

.next-bet {
    grid-area: nextBet;
}
.bet-level {
    grid-area: betLevel;
}
.coins {
    grid-area: coins;
}
.coinsVal {
    grid-area: coinVal;
}
.spin-btn-container {
    grid-area: spin;
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.info-container {
    position: absolute;
    left: 2rem;
    bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.info {
    height: 2rem;
    --webkit-aspect-ratio: 1/1;
    aspect-ratio: 1 / 1;

    border: solid 0.2rem rgb(255, 255, 209);
    border-radius: 50%;
    filter: saturate(60%);
    box-shadow: 0 0 10px goldenrod, 0 0 40px orangered;
    will-change: filter, color;
    animation: neon 2s ease-in-out infinite alternate;
}

/* MAIN PANEL */
.main-panel > * {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
}
.coins {
    justify-content: end;
}
.main-panel .changeable {
    display: flex;
    align-items: center;
    /* font-size: 1.5rem; */
}
.amount,
.info {
    font-size: 1.5rem;
}
.changeButton {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
}

.changeButton,
.spin-btn-container button {
    display: flex;
    align-items: center;
    font-size: 1.75rem;

    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.changeButton:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* NEON LIGHT */
.main-panel {
    --neon-shadow: 0 0 10px goldenrod, 0 0 20px orangered, 0 0 40px mediumblue,
        0 0 80px purple;
    color: rgb(255, 255, 130);
    /* text-shadow: 0 0 10px goldenrod, 0 0 20px orangered, 0 0 40px mediumblue,
        0 0 80px purple; */
    text-shadow: var(--neon-shadow);
    will-change: filter, color;
    filter: saturate(60%);
}
.main-panel > * {
    animation: neon 1.7s ease-in-out infinite alternate;
}
.spin-btn-container button {
    color: lightskyblue;
    text-shadow: 0 0 10px azure, 0 0 20px mediumblue, 0 0 40px orangered,
        0 0 80px rgb(13, 128, 0);
    /* text-shadow: var(--neon-shadow); */
}
.spin-btn-container button:hover {
    cursor: pointer;
}
.main-panel > *:hover,
.spin-btn-container button:hover {
    /* animation: neon 1.7s ease-in-out infinite alternate; */
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
    color: white;

    filter: saturate(30%) hue-rotate(20deg);
}
@keyframes neon {
    30% {
        color: white;
        filter: saturate(200%) hue-rotate(20deg);
    }
    40% {
        color: white;
        filter: saturate(40%) hue-rotate(20deg);
    }
    50% {
        color: white;
        filter: saturate(200%) hue-rotate(20deg);
    }
}

.budget {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
}

@media screen and (min-width: 1001px) {
    .main-panel {
        /* grid-template-columns: 0.5fr 1fr 1.5fr 1fr; */
        grid-template-columns: 12rem 1fr 12rem;
        grid-template-areas: " nextBet spin coins";
    }
    .coins > *,
    .next-bet > * {
        width: 5rem;
    }
}
@media screen and (max-width: 1000px) {
    .main-panel {
        grid-template-columns: 6rem 1fr 6rem;
        grid-template-areas: "nextBet spin  coins";
    }
    .next-bet,
    .coins {
        flex-direction: column;
    }
    .main-panel > * {
        font-size: 18px;
        padding: 0.2rem;
    }
    .info-container {
        left: 0.5rem;
        bottom: 1rem;
    }
    .info {
        height: 1.5rem;

        font-size: 1rem;
        border-width: 2px;
    }
}
